 <!DOCTYPE html>
{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="NextGenerationDev">
   <title>Salud - Fitness & Gym HTML Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="{% static '../../static/assets/img/favicon/favicon.png' %}">
   <!--Bootstarp min css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/bootstrap.min.css' %}">
   <!--Bootstarp map css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/bootstrap.css.map' %}">
   <!--Odometer css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/odometer.css '%}">
   <!--Owl Carousel css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/owl.min.css' %}">
   <!--Owl Carousel Theme css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/owl.theme.default.min.css' %}">
   <!--All min css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/all.min.css' %}">
   <!--Animate css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/animate.css' %}">
   <!--Popup css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/magnific-popup.css' %}">
   <!--Swiper min css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/swiper-bundle.min.css'%}">
   <!--Owl Nice select css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/nice-select.css'%}">
   <!--main css-->
   <link rel="stylesheet" href="{% static '../../static/assets/css/main.css' %}">
</head>


<body>

  {% block content %}
  {% endblock %}

   <!--Jquery 3 6 0 Min Js-->
   <script src="{%  static '../../static/assets/js/jquery-3.7.1.min.js' %}"></script>
   <!--Bootstrap bundle min Js-->
   <script src="{% static '../../static/assets/js/bootstrap.bundle.min.js' %}"></script>
   <!--Viewport Jquery Js-->
   <script src="{% static '../../static/assets/js/viewport.jquery.js' %}"></script>
   <!--Wow min Js-->
   <script src="{% static '../../static/assets/js/wow.min.js' %}"></script>
   <!--Odometer Up min Js-->
   <script src="{% static '../../static/assets/js/odometer.min.js' %}"></script>
   <!--Owl Carousel min Js-->
   <script src="{% static '../../static/assets/js/owl.min.js' %}"></script>
   <!--Popup min Js-->
   <script src="{% static  '../../static/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <!--Owl nice Jquery min Js-->
   <script src="{% static '../../static/assets/js/jquery.nice-select.min.js' %}"></script>
   <!--Swiper min Js-->
   <script src="{% static '../../static/assets/js/swiper-bundle.min.js' %}"></script>
   <!--main Js-->
   <script src="{% static '../../static/assets/js/main.js' %}"></script>
</body>
</html>