  {% load static %}
<!--==== Schedule Section Here ======= -->
<section class="schedule__section pt-120 pb-120">
    <div class="container">
        <div class="section__header section__center wow fadeInDown" data-wow-duration="2s">
            <h5>our schedule</h5>
            <div class="witr_bar_main">
                <div class="witr_bar_inner witr_bar_innerc">
                </div>
            </div>
            <h2 class="section__title">
                Our Classes Schedule
            </h2>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="table__content">
                    <div class="table__box">
                        <div class="table__wrapper">
                            <table>
                                <tbody>
                                <tr class=" wow fadeInUp" data-wow-delay="0.2s">
                                    <th><img src="{% static 'assets/img/clock/clock.png' %}" alt="clock__image"></th>
                                    <th>Monday</th>
                                    <th>Tuesday</th>
                                    <th>Wednesday</th>
                                    <th>Thursday</th>
                                    <th>Friday</th>
                                    <th>Saturday</th>
                                </tr>
                                <tr class="items__bg wow fadeInUp" data-wow-delay="0.3s">
                                    <td><h6>8.00 Am</h6></td>
                                    <td>
                                        <h6>Matt Roberts</h6>
                                        <span>Body building </span>
                                    </td>
                                    <td>
                                        <h6>Louise Parker</h6>
                                        <span>Crossfit Coach</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h6>Scott Laidler</h6>
                                        <span>Cardio & Conditioning</span>
                                    </td>
                                    <td>
                                        <h6>Kayla Itsines</h6>
                                        <span>Pump Iron</span>
                                    </td>
                                    <td>
                                        <h6>Bob Harper</h6>
                                        <span>Yogi Life</span>
                                    </td>
                                </tr>
                                <tr class="section-bg wow fadeInUp" data-wow-delay="0.4s">
                                    <td><h6>10.00 Am</h6></td>
                                    <td>
                                        <h6>Bob Harper</h6>
                                        <span>Yogi Life</span>
                                    </td>
                                    <td>
                                        <h6>Scott Laidler</h6>
                                        <span>Cardio & Conditioning</span>
                                    </td>
                                    <td>
                                        <h6>Kayla Itsines</h6>
                                        <span>Pump Iron</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h6>Louise Parker</h6>
                                        <span>Crossfit Coach</span>
                                    </td>
                                    <td>
                                        <h6>Matt Roberts</h6>
                                        <span>Body building </span>
                                    </td>
                                </tr>
                                <tr class="items__bg wow fadeInUp" data-wow-delay="0.5s">
                                    <td><h6>12.00 Pm</h6></td>
                                    <td>
                                        <h6>Louise Parker</h6>
                                        <span>Crossfit Coach</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h6>Kayla Itsines</h6>
                                        <span>Pump Iron</span>
                                    </td>
                                    <td>
                                        <h6>Scott Laidler</h6>
                                        <span>Cardio & Conditioning</span>
                                    </td>
                                    <td>
                                        <h6>Matt Roberts</h6>
                                        <span>Body building </span>
                                    </td>
                                    <td>
                                        <h6>Bob Harper</h6>
                                        <span>Yogi Life</span>
                                    </td>
                                </tr>
                                <tr class="section-bg wow fadeInUp" data-wow-delay="0.6s">
                                    <td><h6>5.00 Pm</h6></td>
                                    <td>
                                        <h6>Matt Roberts</h6>
                                        <span>Body building </span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h6>Louise Parker</h6>
                                        <span>Crossfit Coach</span>
                                    </td>
                                    <td>
                                        <h6>Scott Laidler</h6>
                                        <span>Cardio & Conditioning</span>
                                    </td>
                                    <td>
                                        <h6>Kayla Itsines</h6>
                                        <span>Pump Iron</span>
                                    </td>
                                    <td>
                                        <h6>Bob Harper</h6>
                                        <span>Yogi Life</span>
                                    </td>
                                </tr>
                                <tr class="items__bg wow fadeInUp" data-wow-delay="0.7s">
                                    <td><h6>8.00 Pm</h6></td>
                                    <td>
                                        <h6>Louise Parker</h6>
                                        <span>Crossfit Coach</span>
                                    </td>
                                    <td>
                                        <h6>Kayla Itsines</h6>
                                        <span>Pump Iron</span>
                                    </td>
                                    <td>
                                        <h6>Scott Laidler</h6>
                                        <span>Cardio & Conditioning</span>
                                    </td>
                                    <td></td>
                                    <td>
                                        <h6>Matt Roberts</h6>
                                        <span>Body building </span>
                                    </td>
                                    <td>
                                        <h6>Bob Harper</h6>
                                        <span>Yogi Life</span>
                                    </td>
                                </tr>
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==== Schedule Section End ======= -->
