<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="NextGenerationDev">
   <title>Salud - Fitness & Gym HTML Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="{% static '/assets/img/favicon/favicon.png' %}">
   <!--Bootstarp min css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
   <!--Bootstarp map css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.css.map' %}">
   <!--Odometer css-->
   <link rel="stylesheet" href="{% static '/assets/css/odometer.css' %}">
   <!--Owl Carousel css-->
   <link rel="stylesheet" href="{% static '/assets/css/owl.min.css' %}">
   <!--Owl Carousel Theme css-->
   <link rel="stylesheet" href="{% static '/assets/css/owl.theme.default.min.css' %}">
   <!--All min css-->
   <link rel="stylesheet" href="{% static '/assets/css/all.min.css' %}">
   <!--Animate css-->
   <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
   <!--Popup css-->
   <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
   <!--Swiper min css-->
   <link rel="stylesheet" href="{% static '/assets/css/swiper-bundle.min.css' %}">
   <!--Owl Nice select css-->
   <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
   <!--main css-->
   <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
</head>
<body>

<!--==== Scrool Top Bottom Here ======= -->
<div id="progress">
    <span id="valiu"><i class="fa-solid fa-angles-up"></i></span>
</div>
<!--==== Scrool Top Bottom End ======= -->

<!-- Header Here -->
{% include 'base/header.html' %}
<!-- Header End -->

<!--=========== Breadcumd Section Here ========= -->
<section class="breadcumd__banner banner__image classes__bg">
    <div class="container">
       <div class="breadcumd__wrapper">
          <h2 class="left__content wow fadeInUp"data-wow-duration="3s">
            Shop Page
          </h2>
          <ul class="right__content wow fadeInUp"data-wow-duration="3s">
             <li>
                <a href="index.html">
                   Home
                </a>
             </li>
             <li>
                <i class="fa-solid fa-chevron-right"></i>
             </li>
             <li>
                Shop
             </li>
          </ul>
       </div>
    </div>
</section>
<!--=========== Breadcumd Section End ========= -->

<!--==== Product Section Here ======= -->
<section class="product__section pt-120 pb-120 background-color">
    <div class="container">
        <div class="row g-4">
            <div class="col-lg-8">
                <div class="row g-4">
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.3s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/1.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.5s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/2.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.7s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/3.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.9s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/4.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.3s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/5.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.5s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/1.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.7s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/2.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6 wow fadeInDown"data-wow-delay="0.9s">
                        <div class="product__items style__shop">
                            <div class="product__thumb">
                                <img src="../../static/assets/img/product/3.jpg" alt="product__image">
                                <ul class="product__icon d-flex justify-content-center">
                                    <li>
                                        <a href="#0"><i class="fa-regular fa-eye"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-cart-shopping"></i></a>
                                    </li>
                                    <li>
                                        <a href="#0"><i class="fa-solid fa-heart"></i></a>
                                    </li>
                                </ul>
                            </div>
                            <div class="product__content center">
                                <h5>
                                    <a href="#0">
                                        Elliptical trainer
                                    </a>
                                </h5>
                                  <div class="product__price d-flex align-items-center justify-content-center">
                                    <del>
                                        $350.00
                                    </del>
                                    <h6>
                                        $230.00
                                    </h6>
                                </div>
                                <ul>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                    <li><i class="fa-solid fa-star"></i></li>
                                </ul>
                            </div>
                            <div class="product__btn center">
                                <a href="shop-single.html" class="cmn--button">
                                   Add to Cart
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <ul class="default__pagination pt-40 wow fadeInUp"data-wow-duration="3s">
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-left"></i></a>
                    </li>
                    <li>
                       <a href="#">1</a>
                    </li>
                    <li>
                       <a href="#">2</a>
                    </li>
                    <li>
                       <a href="#">3</a>
                    </li>
                       <li>
                          <a href="#">4</a>
                    </li>
                    <li>
                       <a href="#">5</a>
                       </li>
                    <li>
                       <a href="#"><i class="fa-solid fa-angle-right"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-4">
                <div class="sidebar__right">
                    <div class="widget__tittle mb-3 wow fadeInUp"data-wow-duration="3s">
                        <h5>Search</h5>
                    </div>
                    <div class="sidebar__widget style__border wow fadeInDown"data-wow-duration="3s">
                        <form action="#0">
                            <input type="text" placeholder="Search">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                         </form>
                    </div>
                    <div class="widget__tittle mb-3 wow fadeInUp"data-wow-duration="3s">
                        <h5>categories</h5>
                    </div>
                    <div class="sidebar__widget style__border wow fadeInRight"data-wow-duration="3s">
                        <ul class="category__list">
                            <li>
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>FITNESS</span><span>( 27 )</span></a>
                            </li>
                            <li>
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>HEALTH</span><span>( 05 )</span></a>
                            </li>
                            <li>
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>LIFESTYLE</span><span>( 01 )</span></a>
                            </li>
                            <li>
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>NUTRITION</span><span>( 03 )</span></a>
                            </li>
                            <li>
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>SPORT SCIENCE</span><span>( 11 )</span></a>
                            </li>
                            <li class="bb-none"> 
                                <a href="#" class="d-flex flex-wrap justify-content-between"><span>TRAINING PROGRAM</span><span>( 03 )</span></a>
                            </li>
                        </ul>
                    </div>
                    <div class="widget__tittle mb-3 wow fadeInDown"data-wow-duration="3s">
                        <h5>Pricing Scale</h5>
                    </div>
                    <div class="sidebar__widget style__border wow fadeInUp"data-wow-duration="3s">
                        <div class="pricing__bar">
                            <div class="range-slider">
                               <input value="6000" min="100" max="50000" step="500" type="range">
                               <input value="44500" min="1000" max="50000" step="500" type="range">
                               <span class="rangeValues">$6100 - $44500</span>
                            </div>
                         </div>
                    </div>
                    <div class="widget__tittle mb-3 wow fadeInDown"data-wow-duration="3s">
                        <h5>Recent posts</h5>
                    </div>
                    <div class="sidebar__widget style__border">
                        <div class="recent__wrap">
                            <a href="event-details.html" class="recent__items wow fadeInUp" data-wow-duration="3s">
                               <span class="thumb">
                                  <img src="../../static/assets/img/event/details/recent/r1.jpg" alt="img">
                               </span>
                               <div class="recent__content">
                                  <h6>
                                    Meal Prep For A Full Week Easy
                                  </h6>
                                  <p>27.05.2023</p>
                               </div>
                            </a>
                            <a href="event-details.html" class="recent__items wow fadeInUp" data-wow-duration="5s">
                                <span class="thumb">
                                   <img src="../../static/assets/img/event/details/recent/r2.jpg" alt="img">
                                </span>
                                <div class="recent__content">
                                    <h6>
                                        Off Season Is Finnish Now What?
                                     </h6>
                                     <p>27.05.2023</p>
                                </div>
                             </a>
                             <a href="event-details.html" class="recent__items wow fadeInUp" data-wow-duration="7s">
                                <span class="thumb">
                                   <img src="../../static/assets/img/event/details/recent/r3.jpg" alt="img">
                                </span>
                                <div class="recent__content">
                                    <h6>
                                        Fitness Helps You Think & Feel Better.
                                     </h6>
                                     <p>27.05.2023</p>
                                </div>
                             </a>
                         </div>
                    </div>
                    <div class="widget__tittle mb-3 wow fadeInDown"data-wow-duration="3s">
                        <h5>tags</h5>
                    </div>
                    <div class="sidebar__widget wow fadeInUp"data-wow-duration="3s">
                        <ul class="tag__list">
                            <li><a href="#">Fitness</a></li>
                            <li><a href="#">People</a></li>
                            <li><a href="#">Health</a></li>
                            <li><a href="#">City</a></li>
                            <li><a href="#">Testing</a></li>
                            <li><a href="#">Video</a></li>
                            <li><a href="#">Music</a></li>
                            <li><a href="#">Life Style</a></li>
                            <li><a href="#">Culture</a></li>
                            <li><a href="#">Mobile</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--==== Product Section End ======= -->

<!--=========== Newsletter Section Here ========= -->
<section class="newsletter__section">
    <div class="container">
        <div class="newsletter__wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="newsletter__content wow fadeInUp" data-wow-duration="2s">
                        <div class="section__header section__center">
                            <h2>
                                Subscribe Here
                            </h2>
                            <p>
                                Subscribe to get notified about new templates and updates
                            </p>
                        </div>
                        <form action="#">
                            <input type="email" placeholder="Enter your email address">
                            <button class="cmn--btn" type="submit">
                                <span>
                                  Subscribe
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Newsletter Section End ========= -->

<!--=========== Footer Section Here ========= -->
{% include 'base/footer.html' %}
<!--=========== Footer Section End ========= -->

  


   <!--Jquery 3 6 0 Min Js-->
   <script src="{% static '/assets/js/jquery-3.7.1.min.js' %}"></script>
   <!--Bootstrap bundle min Js-->
   <script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
   <!--Viewport Jquery Js-->
   <script src="{% static '/assets/js/viewport.jquery.js' %}"></script>
   <!--Wow min Js-->
   <script src="{% static '/assets/js/wow.min.js' %}"></script>
   <!--Odometer Up min Js-->
   <script src="{% static '/assets/js/odometer.min.js' %}"></script>
   <!--Owl Carousel min Js-->
   <script src="{% static '/assets/js/owl.min.js' %}"></script>
   <!--Popup min Js-->
   <script src="{% static '/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <!--Owl nice Jquery min Js-->
   <script src="{% static '/assets/js/jquery.nice-select.min.js' %}"></script>
   <!--Swiper min Js-->
   <script src="{% static '/assets/js/swiper-bundle.min.js' %}"></script>
   <!--main Js-->
   <script src="{% static '/assets/js/main.js' %}"></script>
</body>
</html>