<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="NextGenerationDev">
   <title>Salud - Fitness & Gym HTML Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="{% static '/assets/img/favicon/favicon.png' %}">
   <!--Bootstarp min css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
   <!--Bootstarp map css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.css.map' %}">
   <!--Odometer css-->
   <link rel="stylesheet" href="{% static '/assets/css/odometer.css' %}">
   <!--Owl Carousel css-->
   <link rel="stylesheet" href="{% static 'assets/css/owl.min.css' %}">
   <!--Owl Carousel Theme css-->
   <link rel="stylesheet" href="{% static '/assets/css/owl.theme.default.min.css' %}">
   <!--All min css-->
   <link rel="stylesheet" href="{% static '/assets/css/all.min.css' %}">
   <!--Animate css-->
   <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
   <!--Popup css-->
   <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
   <!--Swiper min css-->
   <link rel="stylesheet" href="{% static '/assets/css/swiper-bundle.min.css' %}">
   <!--Owl Nice select css-->
   <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
   <!--main css-->
   <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
</head>
<body>

<!--==== Scrool Top Bottom Here ======= -->
<div id="progress">
    <span id="valiu"><i class="fa-solid fa-angles-up"></i></span>
</div>
<!--==== Scrool Top Bottom End ======= -->

<!-- Header Here -->
{% include 'base/header.html' %}
<!-- Header End -->

<!--=========== Breadcumd Section Here ========= -->
<section class="breadcumd__banner banner__image trainer__bg">
    <div class="container">
       <div class="breadcumd__wrapper">
          <h2 class="left__content wow fadeInUp"data-wow-duration="3s">
            Our Testimonial
          </h2>
          <ul class="right__content wow fadeInUp"data-wow-duration="3s">
             <li>
                <a href="index.html">
                   Home
                </a>
             </li>
             <li>
                <i class="fa-solid fa-chevron-right"></i>
             </li>
             <li>
                Testimonial
             </li>
          </ul>
       </div>
    </div>
</section>
<!--=========== Breadcumd Section End ========= -->

<!--=========== Testimonial Section Here ========= -->
<section class="testimonial__section pt-120 pb-120">
    <div class="container">
        <div class="section__header section__center wow fadeInDown" data-wow-duration="2s">
            <h5>Testimonial</h5>
            <div class="witr_bar_main">
                <div class="witr_bar_inner witr_bar_innerc">
                </div>
            </div>
            <h2 class="section__title">
                REVIEWS FROM YOU
            </h2>
        </div>
       <div class="row g-4">
          <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="3s">
             <div class="client__items center">
                <div class="client__thumb">
                    <img src="../../static/assets/img/testimonial/c1.jpg" alt="client__image">
                </div>
                <div class="client__content">
                    <h5>James Lucas</h5>
                    <p>
                        A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                    </p>
                    <ul class="d-flex align-items-center justify-content-center mt-2">
                        <li>
                            <i class="fas fa-star"></i>
                         </li>
                         <li>
                            <i class="fas fa-star"></i>
                         </li>
                         <li>
                            <i class="fas fa-star"></i>
                         </li>
                         <li>
                            <i class="fas fa-star"></i>
                         </li>
                         <li>
                            <i class="fas fa-star"></i>
                         </li>
                    </ul>
                </div>
             </div>
          </div>
          <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="5s">
            <div class="client__items center">
               <div class="client__thumb">
                   <img src="../../static/assets/img/testimonial/c3.jpg" alt="client__image">
               </div>
               <div class="client__content">
                   <h5>Mia Amelia</h5>
                   <p>
                       A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                   </p>
                   <ul class="d-flex align-items-center justify-content-center mt-2">
                       <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                   </ul>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="7s">
            <div class="client__items center">
               <div class="client__thumb">
                   <img src="../../static/assets/img/testimonial/c2.jpg" alt="client__image">
               </div>
               <div class="client__content">
                   <h5>Jack Ethan</h5>
                   <p>
                       A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                   </p>
                   <ul class="d-flex align-items-center justify-content-center mt-2">
                       <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                   </ul>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="3s">
            <div class="client__items center">
               <div class="client__thumb">
                   <img src="../../static/assets/img/testimonial/c1.jpg" alt="client__image">
               </div>
               <div class="client__content">
                   <h5>James Lucas</h5>
                   <p>
                       A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                   </p>
                   <ul class="d-flex align-items-center justify-content-center mt-2">
                       <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                   </ul>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="5s">
           <div class="client__items center">
              <div class="client__thumb">
                  <img src="../../static/assets/img/testimonial/c3.jpg" alt="client__image">
              </div>
              <div class="client__content">
                  <h5>Mia Amelia</h5>
                  <p>
                      A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                  </p>
                  <ul class="d-flex align-items-center justify-content-center mt-2">
                      <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                  </ul>
              </div>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="7s">
           <div class="client__items center">
              <div class="client__thumb">
                  <img src="../../static/assets/img/testimonial/c2.jpg" alt="client__image">
              </div>
              <div class="client__content">
                  <h5>Jack Ethan</h5>
                  <p>
                      A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                  </p>
                  <ul class="d-flex align-items-center justify-content-center mt-2">
                      <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                  </ul>
              </div>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="3s">
            <div class="client__items center">
               <div class="client__thumb">
                   <img src="../../static/assets/img/testimonial/c1.jpg" alt="client__image">
               </div>
               <div class="client__content">
                   <h5>James Lucas</h5>
                   <p>
                       A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                   </p>
                   <ul class="d-flex align-items-center justify-content-center mt-2">
                       <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                        <li>
                           <i class="fas fa-star"></i>
                        </li>
                   </ul>
               </div>
            </div>
         </div>
         <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="5s">
           <div class="client__items center">
              <div class="client__thumb">
                  <img src="../../static/assets/img/testimonial/c3.jpg" alt="client__image">
              </div>
              <div class="client__content">
                  <h5>Mia Amelia</h5>
                  <p>
                      A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                  </p>
                  <ul class="d-flex align-items-center justify-content-center mt-2">
                      <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                  </ul>
              </div>
           </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 wow fadeInUp"data-wow-duration="7s">
           <div class="client__items center">
              <div class="client__thumb">
                  <img src="../../static/assets/img/testimonial/c2.jpg" alt="client__image">
              </div>
              <div class="client__content">
                  <h5>Jack Ethan</h5>
                  <p>
                      A gym is a place where people go to train a place where people  exercise but also to unwind socialize and recharge
                  </p>
                  <ul class="d-flex align-items-center justify-content-center mt-2">
                      <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                       <li>
                          <i class="fas fa-star"></i>
                       </li>
                  </ul>
              </div>
           </div>
        </div>
       </div>
    </div>
 </section>
 <!--=========== Testimonial Section End ========= -->

<!--=========== Newsletter Section Here ========= -->
<section class="newsletter__section">
    <div class="container">
        <div class="newsletter__wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="newsletter__content wow fadeInUp" data-wow-duration="2s">
                        <div class="section__header section__center">
                            <h2>
                                Subscribe Here
                            </h2>
                            <p>
                                Subscribe to get notified about new templates and updates
                            </p>
                        </div>
                        <form action="#">
                            <input type="email" placeholder="Enter your email address">
                            <button class="cmn--btn" type="submit">
                                <span>
                                  Subscribe
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Newsletter Section End ========= -->

<!--=========== Footer Section Here ========= -->
{% include 'base/footer.html' %}
<!--=========== Footer Section End ========= -->

  


   <!--Jquery 3 6 0 Min Js-->
   <script src="{% static '/assets/js/jquery-3.7.1.min.js' %}"></script>
   <!--Bootstrap bundle min Js-->
   <script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
   <!--Viewport Jquery Js-->
   <script src="{% static '/assets/js/viewport.jquery.js' %}"></script>
   <!--Wow min Js-->
   <script src="{% static '/assets/js/wow.min.js' %}"></script>
   <!--Odometer Up min Js-->
   <script src="{% static '/assets/js/odometer.min.js' %}"></script>
   <!--Owl Carousel min Js-->
   <script src="{% static '/assets/js/owl.min.js' %}"></script>
   <!--Popup min Js-->
   <script src="{% static '/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <!--Owl nice Jquery min Js-->
   <script src="{% static '/assets/js/jquery.nice-select.min.js' %}"></script>
   <!--Swiper min Js-->
   <script src="{% static '/assets/js/swiper-bundle.min.js' %}"></script>
   <!--main Js-->
   <script src="{% static '/assets/js/main.js' %}"></script>
</body>
</html>