<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta name="author" content="NextGenerationDev">
   <title>Salud - Fitness & Gym HTML Template</title>
   <!--Favicon img-->
   <link rel="shortcut icon" href="../../static/assets/img/favicon/favicon.png">
   <!--Bootstarp min css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.min.css' %}">
   <!--Bootstarp map css-->
   <link rel="stylesheet" href="{% static '/assets/css/bootstrap.css.map' %}">
   <!--Odometer css-->
   <link rel="stylesheet" href="{% static '/assets/css/odometer.css' %}">
   <!--Owl Carousel css-->
   <link rel="stylesheet" href="{% static '/assets/css/owl.min.css' %}">
   <!--Owl Carousel Theme css-->
   <link rel="stylesheet" href="{% static '/assets/css/owl.theme.default.min.css' %}">
   <!--All min css-->
   <link rel="stylesheet" href="{% static '/assets/css/all.min.css' %}">
   <!--Animate css-->
   <link rel="stylesheet" href="{% static '/assets/css/animate.css' %}">
   <!--Popup css-->
   <link rel="stylesheet" href="{% static '/assets/css/magnific-popup.css' %}">
   <!--Swiper min css-->
   <link rel="stylesheet" href="{% static 'assets/css/swiper-bundle.min.css' %}">
   <!--Owl Nice select css-->
   <link rel="stylesheet" href="{% static '/assets/css/nice-select.css' %}">
   <!--main css-->
   <link rel="stylesheet" href="{% static '/assets/css/main.css' %}">
</head>
<body>

<!--==== Scrool Top Bottom Here ======= -->
<div id="progress">
    <span id="valiu"><i class="fa-solid fa-angles-up"></i></span>
</div>
<!--==== Scrool Top Bottom End ======= -->

<!-- Header Here -->
    {% include 'base/header.html' %}
<!-- Header End -->

<!--=========== Breadcumd Section Here ========= -->
<section class="breadcumd__banner banner__image trainer__bg">
    <div class="container">
       <div class="breadcumd__wrapper">
          <h2 class="left__content wow fadeInUp"data-wow-duration="3s">
            Our Trainers
          </h2>
          <ul class="right__content wow fadeInUp"data-wow-duration="3s">
             <li>
                <a href="index.html">
                   Home
                </a>
             </li>
             <li>
                <i class="fa-solid fa-chevron-right"></i>
             </li>
             <li>
               Trainers
             </li>
          </ul>
       </div>
    </div>
</section>
<!--=========== Breadcumd Section End ========= -->

<!--==== Team Section Here ======= -->
<section class="team__section pt-120 pb-120">
    <div class="container">
        <div class="row g-4">
            {% for coach in trainer %}
            <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.2s">
                <div class="team__items">
                    <div class="team__thumb">
                        <img src="../../static/assets/img/team/team1.jpg" alt="team__image">
                        <div class="team__icon">
                            <ul>
                                <li>
                                    <a href="#0"><i class="fa-brands fa-facebook-f"></i></a>
                                </li>
                                <li>
                                    <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                                <li class="mr-none">
                                    <a href="#0"><i class="fa-brands fa-twitter"></i></a>
                                </li>
                                <li class="mr-none">
                                    <a href="#0"><i class="fa-brands fa-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <div class="share__icon">
                            <a href="#">
                                <i class="fas fa-share-nodes"></i>							
							</a>
                        </div>
                        <div class="team__content background-color">
                            <h5>
                               <a href="#0">
                                Matt Roberts
                               </a>
                            </h5>
                            <p>
                                Body building Coach
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
                </div>
            </div>
        </div>
        <ul class="default__pagination pt-40 wow fadeInDown" data-wow-delay="0.4s">
            <li>
               <a href="#"><i class="fa-solid fa-angle-left"></i></a>
            </li>
            <li>
               <a href="#">1</a>
            </li>
            <li>
               <a href="#">2</a>
            </li>
            <li>
               <a href="#">3</a>
            </li>
               <li>
                  <a href="#">4</a>
            </li>
            <li>
               <a href="#">5</a>
               </li>
            <li>
               <a href="#"><i class="fa-solid fa-angle-right"></i></a>
            </li>
        </ul>
    </div>
</section>
<!--==== Team Section End ======= -->

<!--=========== Newsletter Section Here ========= -->
<section class="newsletter__section">
    <div class="container">
        <div class="newsletter__wrapper">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="newsletter__content wow fadeInUp" data-wow-duration="2s">
                        <div class="section__header section__center">
                            <h2>
                                Subscribe Here
                            </h2>
                            <p>
                                Subscribe to get notified about new templates and updates
                            </p>
                        </div>
                        <form action="#">
                            <input type="email" placeholder="Enter your email address">
                            <button class="cmn--btn" type="submit">
                                <span>
                                  Subscribe
                                </span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--=========== Newsletter Section End ========= -->

<!--=========== Footer Section Here ========= -->
    {% include 'base/footer.html' %}
<!--=========== Footer Section End ========= -->

  


   <!--Jquery 3 6 0 Min Js-->
   <script src="{% static '/assets/js/jquery-3.7.1.min.js' %}"></script>
   <!--Bootstrap bundle min Js-->
   <script src="{% static '/assets/js/bootstrap.bundle.min.js' %}"></script>
   <!--Viewport Jquery Js-->
   <script src="{% static '/assets/js/viewport.jquery.js' %}"></script>
   <!--Wow min Js-->
   <script src="{% static '/assets/js/wow.min.js' %}"></script>
   <!--Odometer Up min Js-->
   <script src="{% static '/assets/js/odometer.min.js' %}"></script>
   <!--Owl Carousel min Js-->
   <script src="{% static '/assets/js/owl.min.js' %}"></script>
   <!--Popup min Js-->
   <script src="{% static '/assets/js/jquery.magnific-popup.min.js' %}"></script>
   <!--Owl nice Jquery min Js-->
   <script src="{% static 'assets/js/jquery.nice-select.min.js' %}"></script>
   <!--Swiper min Js-->
   <script src="{% static '/assets/js/swiper-bundle.min.js' %}"></script>
   <!--main Js-->
   <script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>